<nav class="football-header">
  <h1 class="football-header__title">Football updates: season {{currentYear}} </h1>
  <ul class="football-header__nav">
    <li class="football-header__nav-item">
      <a routerLink="/football/39" id="englandSelect" routerLinkActive="active">England</a>
    </li>
    <li class="football-header__nav-item">
      <a routerLink="/football/140" id="spainSelect" routerLinkActive="active">Spain</a>
    </li>
    <li class="football-header__nav-item">
      <a routerLink="/football/78" id="germanySelect" routerLinkActive="active">Germany</a>
    </li>
    <li class="football-header__nav-item">
      <a routerLink="/football/61" id="franceSelect" routerLinkActive="active">France</a>
    </li>
    <li class="football-header__nav-item">
      <a routerLink="/football/135" id="italySelect" routerLinkActive="active">Italy</a>
    </li>
  </ul>
</nav>
