table {
  border-spacing: 20px;
  border: 1px solid black;
  border-collapse: collapse;
  width: 200px;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

img {
  max-width: 50px;
  max-height: 50px;
}

.football-list {
  .football-list__heading {
    display: flex;
    justify-content: flex-start;

  }

  .football-list__body {
    display: flex;
    flex-direction: column;
  }
}
