<div (click)="onShowTeamsDetail(standing.team?.id)" *ngIf="standing">
  <td>{{index}}</td>
  <td *ngIf="standing.team && standing.team?.logo && standing.team?.name">
    <img ngSrc="{{standing.team.logo}}" width="30" height="30" alt="{{standing.team.name}}">
  </td>
  <td>{{standing.team?.name}}</td>
  <td>{{standing.all?.played}}</td>
  <td>{{standing.all?.win}}</td>
  <td>{{standing.all?.lose}}</td>
  <td>{{standing.all?.draw}}</td>
  <td>{{standing.goalsDiff}}</td>
  <td>{{standing.points}}</td>
</div>

